.bg-primary-subtle {
    background-color: blue;
}
.box {
}

.container-fluid {
    background-color: azure;
}

.logo {
    height: 10vh;
    background-color: aquamarine;
}

.nav {
    background-color: aqua;
}