@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    height: 120vh;
    max-height: 100%;
    max-width:100%;
    background-color: #242E50;
    background-image: url(bg.png);
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}

.header {
    /*position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: aqua;*/
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
}

/* .navbar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
} */
/* TULISAN */
.GYRA {
    height: auto;
    width: 33.34%;
    display: flex;
    justify-content: space-evenly;
}
.GYRA h1 {
    color: white;
    font-size:150%;
    font-family:'Poppins', sans-serif;
    letter-spacing: 5px;
    width: 10vh;
    max-width: 30%;
    
}

.GYRA h1:hover {
    color:#FF4C4C;
    transition: .2s;
}
/* TULISAN DONE */
/* ---------------------------- */
/* LOGO */
.logo {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto;
    width: 33.33%;
}
.logo img{
    width: 10vh;
    max-width: 30%;
    height: 30%;
}

.logo img:hover {
    background-color: #FF4C4C;
    border-radius: 30px;
    transition: .3s;
}

/* LOGO DONE */
/* ---------------------------- */
/* ABOUT */
.about{
    width: 33.33%;
}
.about a{
    color: white;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: larger;
}

a:hover {
    color: #FFC700;
    transition: .3s;
}

.menu1 {
    color: white;
    padding: 3px 8px;
    margin-left: 0px;
    cursor: pointer;
    border-radius: 5px;
    transition: .2s;
}

.menu1:hover {
    background-color: #FF4C4C;
}

/* ABOUT DONE */

.intro {
    height: 10%;
    color: white;
    font-family:'Poppins', sans-serif;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* NAMAAAAAAAAAAAAAAAAAAAa  */

.fotonama {
    height: 50%;
    max-height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.fotonama .grup1 {
    width: 30%;
    display: block;

}

.fotonama .grup2 {
    width: 30%;
    display: block;

}

.fotonama .grup3 {
    width: 30%;
    display: block;

}

.erison img {
    width: 80%;
    height: 50%;
    max-width: fit-content;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 20%
}

.jamil img {
    width: 80%;
    height: 50%;
    max-width: fit-content;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 20%
}

.cecek img {
    width: 80%;
    height: 50%;
    max-width: fit-content;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 20%
}
.erison {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nama1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.jamil  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nama2 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cecek  {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.nama3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

div a {
    color: white;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    font-size: x-large;
}



.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer .ig {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.ig a {
    font-size: large;
}

.trademark {
    font-size:xx-small;
    font-family:  'Poppins', sans-serif;
    color: white;
    padding-left: 4em;
}

.footer img {
    width: 1.5em;
    height: 1.5em;
}

/* .footer img:hover {
    background-color: #FF4C4C;
    transition: .2s;
    border-radius: 20px;
    padding: 10px;
} */

/* HOVER UNTUK LOGO */
#insta:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    border-radius: 15px;
    padding: 10px;
    transition: .2s;
}

#shopee:hover {
    background-color: #ee4d2d;
    border-radius: 15px;
    padding: 10px;
    transition: .2s;
}

#tokped:hover {
    background-color: #41b549;
    border-radius: 15px;
    padding: 10px;
    transition: .2s;
}

#wa:hover {
    background-color: #25d366;
    border-radius: 15px;
    padding: 10px;
    transition: .2s;
}
/* HOVER UNTUK LOGO SELESAI */



/* BAGIAN BAWAH */

.information {
    height: 10%;
}

.information div {
    color: white;
    width: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
}

/* BAGIAN BAWAH ISI SELESAI */



/* MEDIA HP  RESPONSIVE*/
.about {
    overflow: hidden;
    display: flex;
    justify-content: space-evenly;
}

.about a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: larger;
}

.about a:hover {
    color: #FFC700;
}

.about a.active {
    background-color: #04AA6D;
    color: white;
}
.about .icon {
    display: none;
}

@media screen and (max-width: 600px) {

    .about {
        display: block;
    }
    .about a:not(:first-child) {
        display: none;
    }

    .about a.icon {
    float: right;
    display: block;
    padding-right: 50px ;
    }

    .footer .ig {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
}

@media screen and (max-width: 600px) {
    .about.responsive {
        position:relative;
    }
    .about.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .about.responsive a {
    float: none;
    display: block;
    text-align: left;
    }

    .GYRA h1 {
        color: white;
        font-size:100%;
        font-family:'Poppins', sans-serif;
        letter-spacing: 5px;
        width: 10vh;
        max-width: 30%;   
    }

    .fotonama {
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        max-height: 70%;
    }


    .fotonama .grup1 {
        width: 55%;
    }

    .fotonama .grup2 {
        width: 55%;
    }

    .fotonama .grup3 {
        width: 55%;
    }
}

@media screen and (max-width: 1000px) {
    .about.responsive {
        position:relative;
    }
    .about.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }

    .about.responsive a {
    float: none;
    display: block;
    text-align: left;
    }

    .GYRA h1 {
        color: white;
        font-size:120%;
        font-family:'Poppins', sans-serif;
        letter-spacing: 5px;
        width: 10vh;
        max-width: 30%;
        
    }

    .fotonama {
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 70%;
    }

    .fotonama .grup1 {
        width: 50%;
    }

    .fotonama .grup2 {
        width: 50%;
    }

    .fotonama .grup3 {
        width: 50%;
    }
}

/* MEDIA HP SELESAI */



/* .fotonama {
    height: 70%;
}

.foto {
    height: 75%;
    max-height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.foto div {
    height: 100%;
    width: 33.34%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.foto1 img {
    display: flex;
    justify-content: space-between;
}

.foto div img {
    width: 90%;
    height: 90%;
    max-width: fit-content;
    background-repeat: no-repeat;
    object-fit: cover;
    border-radius: 20%;
}

.nama {
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-self: center;
}

.nama div {
    width: 33.34%;
    display: flex;
    justify-content: center;
}

.nama div a {
    color: white;
    font-size: x-large;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.nama div a:hover {
    color: #FFC700;
    transition: .3s;
} */